#content.wow-content {
    article.post {
        margin-bottom: 2rem;
        .entry-content {
            .blog-content, 
            .sidebar-content{
                padding-bottom: 2rem;
                padding-top: 2rem;
            }
        }
        .meta-bar {
            margin: .5rem 0;
            font-size: .9rem;
            color: var(--wow-theme-muted);
        }
    }
}

.single header.entry-header {
    padding: 1rem 0;
    background-color: var(--wow-theme-light);
}

@include media-breakpoint-up(md) {
    .single header.entry-header {
        padding: 2rem 0;
    }
}

@include media-breakpoint-up(lg) {
    .single header.entry-header {
        padding: 3rem 0;
    }
}