.lift-theme {
	&.lift-theme-modern,
	&.lift-theme-material,
	&.lift-theme-monokai {
		@import "inc/form";

		#footer.lift-footer {
			ul, ol {
				padding-left: 0;
				list-style: none;
			}
			a {
				text-decoration: none;
				&:hover,
				&:focus, 
				&:active {
					text-decoration: none;
				}
			}
		}
	}
}
