@import 'config/global';
@import 'config/scrollbar';

.entry-footer {
	display: block;
	.edit-link {
		margin: 2rem 0;
		display: inline-flex;
		background: var(--lift-theme-main);
		border-radius: 5px;
		overflow: hidden;
		> a {
			color:#fff !important;
			text-decoration: none;
			padding: .75rem 1rem;
			&:hover, 
			&:focus, 
			&:active {
				background: var(--lift-theme-azure)
			}
		}
	}
}

.navbar-expand-all {
    flex-wrap: nowrap;
    justify-content: flex-start;
	.navbar-toggler {
		display: none;
	}
	.navbar-collapse {
		display: flex!important;
		flex-basis: auto;
	}
}

html, body {
	overflow-x: hidden;
}
.lift-theme {
	.vc_message_box-icon {
		.fa, .fas {
			font-weight: 900;
		}
	}
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal !important;
}

#backtotop {
	display: none;
	bottom: 2rem;
	right: 2rem
}

